<form id="new-post">
    <label for="new-title">Post Title:</label>
    <input type="text" id="new-title" name="new-title" />
    <textarea id="create-post"></textarea>
    <button type="submit" id="submit" class="btn">Submit Post</button>
</form>
<script src="/js/create-post.js"></script>