<p><em>Markdown supported</em></p>
<textarea id="edit-post">{{removeTags post.body}}</textarea>
<button type="submit" id="submit" class="btn">Edit Post</button>
<button type="button" id="delete" class="btn">Delete Post</button>
<script src="/js/edit-post.js"></script>