<h2>Latest Articles</h2>
<div class="article-list">
    {{#each posts}}
    <a href="read-post/{{id}}">
        <article>
            <h3>{{title}}</h3>
            <div>{{{articlePreview body}}}</div>
        </article>
    </a>
    {{/each}}
</div>