<div class="login-wrapper">
    <form id="login">
        <h2>Login</h2>
        <label for="email-login">Email Address:</label>
        <input type="text" name="email-login" />
        <label for="password-login">Password:</label>
        <input type="password" name="password-login" />
        <button class="btn">Login</button>
    </form>

    <form id="register">
        <h2>Create a new account</h2>
        <label for="username-register">Username:</label>
        <input type="text" name="username-register" />
        <label for="email-register">Email Address:</label>
        <input type="email" name="email-register" />
        <label for="password-register">Password: (minimum 8 characters)</label>
        <input type="password" name="password-register" />
        <button class="btn">Create account</button>
    </form>
</div>
<script src="js/login.js"></script>